html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #202128;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.container {
  max-width: 900px;
  width: 100%;
  background: #202128;
  margin: 0 auto;
  padding: 0 16px;
}

.generalTitle {
  color: white;
  font-size: 44px;
  margin: 0 auto;
  padding: 16px 0;
  text-align: center;
  border-bottom: 0.2px solid rgb(61, 61, 61);
}

.wrapper-tabs {
  display: flex;
}

.wrapper-tabs__tabs {
  width: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  padding: 16px 0;
  cursor: pointer;
  border: none;
  background: inherit;

}

.active {
  background: #292B33;

}

.active_tab {
  visibility: visible;
}

.general-information,
.wrapper-data {
  display: flex;
  border-bottom: 0.2px solid rgb(61, 61, 61);
  background: #202128;
}

.wrapper-data:hover {
  background: #292B33;
  cursor: pointer;
}

.wrapper-data > dt,
dd {
  padding: 20px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper-data > dd {
  width: 40%;
  justify-content: flex-end;
  width: 15%;
}

.wrapper-data__country {
  width: 40%;
  color: darkgray;
}

.general-information__confirmed,
.wrapper-data__confirmed {
  color: yellow;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.general-information__deaths,
.wrapper-data__deaths {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.general-information__recovered,
.wrapper-data__recovered {
  color: green;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.general-information__existing,
.wrapper-data__existing {
  color: red;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper-data__delta {
  font-size: .8em;
}

.searchForm {
  width: 100%;
  display: flex;
  gap: 10px;
  background: #292B33;
  margin-top: 20px;
}

.searchForm__button {
  width: 15%;
  font-size: 34px;
  padding: 8px;
  color: blue;
  background: #292B33;
  border: none;
  border-right: 0.2px solid rgb(61, 61, 61);
  outline: none;
  cursor: pointer;
}

.searchForm__input {
  font-size: 18px;
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 8px;
  background: #292B33;
  color: lightgray;
}

.general-information > div {
  width: 25%;
  font-size: 20px;
  padding: 16px 8px;
  gap: 10px;
}

.general-information__differnce {
  font-size: .7em;
}

.wrapper-sort {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-top: 20px;
}

.wrapper-sort__btn {
  width: 25%;
  padding: 20px 8px;
  cursor: pointer;
  background: #292B33;
  border: 0.2px solid rgb(61, 61, 61);
  color: lightgray;
  font-size: 18px;
}